<!DOCTYPE HTML>
<html>

<head>
	<title>Bloggie blog</title>
</head>

<body>
	<h1>Posted :)</h1>
	<br><br>
	<h3>Title</h3>
	<p>{{title}}</p>
	<br><br>
	<h3>Content</h3>
	<br>
	<p>{{content}}</p>




</body>

</html>