<!DOCTYPE HTML>
<html>

<head>
	<title>New post</title>
</head>

<body>
	<h1>Enter a New Post</h1>
	<form method="post">
		<h3>Title</h3>
		<input type"text" name="subject" value="{{title}}">
		<h3>Content</h3>
		<textarea name="content" value="{{content}}"></textarea>
		<p>{{error}}</p>
		<input type="submit">
	</form>


</body>

</html>