{% extends "index.html" %}
{% block body%}
<h1>Blog Front Page</h1>
<h1>Welcome, {{name}}</h1></br></br>

	{% for i in q%}
		<h3>{{i.title}}</h3>
		<p>{{i.content}}</p>
		<hr></hr>
	{% endfor %}
{% endblock %}