{% extends "index.html" %}
{%block body %}
<h1>Log in</h1>
<form method="post">
	  <table>
		<tr>
		  <td class="label">
			Username
		  </td>
		  <td>
			<input type="text" name="username" value="{{username}}">
		  </td>
		</tr>

		<tr>
		  <td class="label">
			Password
		  </td>
		  <td>
			<input type="password" name="password" value="">
		  </td>
		  <td class="error">
			{{password_error}}
		  </td>
		</tr>
		<td class="error" color:"red";>
			{{user_error}}
		  </td>
	  </table>
	  <input type="submit">
</form>
{% endblock %}